
<script type="text/javascript">
	$(document).ready(function (){

		

		if (<%= escape_javascript(params[:align])%>==0)
		{	
			$(".container").css("width","95%");
			$(".thatshit").css("width","40%");
		}
		
		if (<%= escape_javascript(params[:align])%>==0)
		{	
			
			
		}

		if (<%= escape_javascript(params[:align])%>==2)
		{
			$(".container").css("width","95%");
			$(".thatshit").css("width","40%");
			$(".thatshit").css("right","-60%");
		}

		
	})
</script>
	<div class="thatshit">
		<% read(params[:site]).html_safe %>
		<h1><%= @stuff.title %></h1><p>
		<%= @stuff.content.html_safe %>
	</div>

